/* /////////////////////////////////////////////////////////////////////////////
MOBILE
//////////////////////////////////////////////////////////////////////////////*/
.main h1 {
  font-family: 'Nimbus Sans', sans-serif;
  font-size: 50px;
}

/* /////////////////////////////////////////////////////////////////////////////
DESKTOP
//////////////////////////////////////////////////////////////////////////////*/

@media screen and (min-width: 768px) {
  .main h1 {
    font-family: 'Nimbus Sans', sans-serif;
    font-size: 70px;
  }
}
