/* /////////////////////////////////////////////////////////////////////////////
MOBILE
//////////////////////////////////////////////////////////////////////////////*/
.main {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-bottom: 200px;
}

.filter {
  width: 200px;
}

.content {
  width: 100%;
}

.content.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.content.list {
  display: flex;
  flex-direction: column;
}

/* /////////////////////////////////////////////////////////////////////////////
DESKTOP
//////////////////////////////////////////////////////////////////////////////*/

@media screen and (min-width: 768px) {
  .main {
    flex-direction: row;
  }
}
