/* /////////////////////////////////////////////////////////////////////////////
MOBILE
//////////////////////////////////////////////////////////////////////////////*/
/* Login */
.header {
  margin-bottom: 10px;
}

/* Admin */
.admin {
  position: relative;
  display: flex;
  flex-direction: column;
}

.admin > * {
  font-size: 16px;
  border: none;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.titleField {
}

.bodyField {
}
/* /////////////////////////////////////////////////////////////////////////////
DESKTOP
//////////////////////////////////////////////////////////////////////////////*/

@media screen and (min-width: 768px) {
}
