.navbar {
  position: relative;
  justify-content: flex-end;
  place-items: center;  
  display: flex;
  margin: 40px 30px;
  height: 50px;
}

.navbar li > * {
  cursor: pointer;
  transition: all 250ms ease-in-out;
  color: var(--text)
}

.navbar li:hover > * {
  opacity: 0.7;
}

.navbar li:active > * {
  opacity: 0.5;
}

.navlinks li > * {
  padding: 10px 0;
  font-family: 'Nimbus Sans', sans-serif;
}

.navlinks {
  transition: all 250ms ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  top: -40px;
  left: -30px;
  right: -30px;
  padding: 0 30px;
  text-align: right;
  z-index: 10;
  height: 0;
  overflow: hidden;
}

.navlinks.open {
  height: 250px;
}

.navlinks a {
  display: block;
}

.navlinks li:last-child {
  margin-bottom: 20px;
}

.icon {
  margin-right: auto;
  z-index: 11;
}

.hamBox {
  height: 40px;
  width: 40px;
}

.ham {
  z-index: 11;
  position: relative;
  transition: all 200ms ease-in-out;
  margin: 17.5px 0;
  width: 100%;
  height: 4px;
  border-radius: 10px;
}

.ham::before, .ham::after {
  transition: top 100ms, bottom 100ms;
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: inherit;
  border-radius: 10px;
}

.ham::before {
  top: 8px;
}

.ham::after {
  bottom: 8px;
}

.ham.open {
  transform: rotate(225deg);
}

.ham.open::before {
  top: 0;
  transform: rotate(90deg);
}

.ham.open::after {
  bottom: 0;
}

@media screen and (min-width: 768px) {
  .navbar {
    margin: 50px 70px;
  }

  .navlinks li > * {
    padding: 10px;
  }

  .navlinks li:last-child {
    margin-bottom: 0;
  }
  
  .navlinks {
    background-color: transparent !important;
    padding: 0;
    width: auto;
    position: static;
    display: flex;
    place-items: center;
    flex-direction: row;
    height: 50px;
  }

  .hamBox {
    display: none;
  }
}