@font-face {
  font-family: "Nimbus Sans"; // navbar font
  src: url("../../public/fonts/NimbusSans/NimbusSans-BoldExtended.ttf")
      format("truetype"),
    url("../../public/fonts/NimbusSans/NimbusSans-BoldExtended.woff")
      format("woff");
}
@font-face {
  font-family: "Menlo"; // code font
  src: url("../../public/fonts/Menlo/Menlo-Regular.ttf") format("truetype"),
    url("../../public/fonts/Menlo/Menlo-Italic.ttf") format("truetype"),
    url("../../public/fonts/Menlo/Menlo-Bold.ttf") format("truetype"),
    url("../../public/fonts/Menlo/Menlo-BoldItalic.ttf") format("truetype");
}
// @font-face {
//   font-family: "Aeonik"; // header font
//   src: url("../../public/fonts/Aeonik/Aeonik-Medium.woff") format("woff");
//   font-weight: 500;
// }
// @import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap'); // h1

// paragraph font
@font-face { font-family: "Proxima Nova"; src: url("https://use.typekit.net/af/efe4a5/00000000000000007735e609/30/l?subset_id=2&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/efe4a5/00000000000000007735e609/30/d?subset_id=2&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/efe4a5/00000000000000007735e609/30/a?subset_id=2&fvd=n4&v=3") format("opentype"); font-style: normal; font-weight: 400; font-display: auto; }
@font-face { font-family: "Proxima Nova"; src: url("https://use.typekit.net/af/3322cc/00000000000000007735e616/30/l?subset_id=2&fvd=i4&v=3") format("woff2"), url("https://use.typekit.net/af/3322cc/00000000000000007735e616/30/d?subset_id=2&fvd=i4&v=3") format("woff"), url("https://use.typekit.net/af/3322cc/00000000000000007735e616/30/a?subset_id=2&fvd=i4&v=3") format("opentype"); font-style: italic; font-weight: 400; font-display: auto; }
@font-face { font-family: "Proxima Nova"; src: url("https://use.typekit.net/af/2555e1/00000000000000007735e603/30/l?subset_id=2&fvd=n7&v=3") format("woff2"), url("https://use.typekit.net/af/2555e1/00000000000000007735e603/30/d?subset_id=2&fvd=n7&v=3") format("woff"), url("https://use.typekit.net/af/2555e1/00000000000000007735e603/30/a?subset_id=2&fvd=n7&v=3") format("opentype"); font-style: normal; font-weight: 700; font-display: auto; }
@font-face { font-family: "Proxima Nova"; src: url("https://use.typekit.net/af/4de20a/00000000000000007735e604/30/l?subset_id=2&fvd=i7&v=3") format("woff2"), url("https://use.typekit.net/af/4de20a/00000000000000007735e604/30/d?subset_id=2&fvd=i7&v=3") format("woff"), url("https://use.typekit.net/af/4de20a/00000000000000007735e604/30/a?subset_id=2&fvd=i7&v=3") format("opentype"); font-style: italic; font-weight: 700; font-display: auto; }