/* /////////////////////////////////////////////////////////////////////////////
MOBILE
//////////////////////////////////////////////////////////////////////////////*/
.multi, .single, .markdown {
  color: var(--text1);
}

.multi::selection, .single::selection, .markdown > *::selection {
  color: unset;
  background-color: #f1705f80;
}

/* /////////////////////////////////////////////////////////////////////////////
DESKTOP
//////////////////////////////////////////////////////////////////////////////*/
@media screen and (min-width: 768px) {
  
}
