@use "src/styles/theme";

@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;1,400;1,500&display=swap");
@font-face {
  font-family: "Nimbus Sans";
  src: url("../../public/fonts/NimbusSans/NimbusSans-BoldExtended.ttf")
      format("truetype"),
    url("../../public/fonts/NimbusSans/NimbusSans-BoldExtended.woff")
      format("woff");
}
@font-face {
  font-family: "Menlo";
  src: url("../../public/fonts/Menlo/Menlo-Regular.ttf") format("truetype"),
    url("../../public/fonts/Menlo/Menlo-Italic.ttf") format("truetype"),
    url("../../public/fonts/Menlo/Menlo-Bold.ttf") format("truetype"),
    url("../../public/fonts/Menlo/Menlo-BoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Aeonik";
  src: url("../../public/fonts/Aeonik/Aeonik-Medium.woff") format("woff");
  font-weight: 500;
}

/* /////////////////////////////////////////////////////////////////////////////
Variables
//////////////////////////////////////////////////////////////////////////////*/

:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --black: #070707;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;

  --crown1: url(../../public/images/crowns/light-crown.png);
  --crown2: url(../../public/images/crowns/light-crown-select.png);

  --bgtrans: rgba(255, 255, 255, 0.7);
  --bg0: rgb(248, 248, 248);
  --bg1: rgb(255, 255, 255);
  --bg2: rgb(247, 247, 247);
  --bg3: rgb(242, 242, 242);
  --text1: rgb(7, 7, 7);

  --link1: rgb(57, 120, 255);
  --link2: rgb(28, 84, 206);
  --link3: rgb(17, 60, 154);

  --highlight: rgb(255, 0, 0);
  --shadow: 0 0 5px 0px rgba(138, 138, 138, 0.1),
    0 0 10px 5px rgba(138, 138, 138, 0.05);
  --border: rgb(242, 242, 242);

  color: var(--text1);
  background-color: var(--bg1);
}

// @media (prefers-color-scheme: dark) {
//   :root {
//     --crown1: url(../../public/images/crowns/dark-crown.png);
//     --crown2: url(../../public/images/crowns/dark-crown-select.png);

//     --bgtrans: rgba(31, 31, 31, 0.7);
//     --bg0: rgb(38, 38, 38);
//     --bg1: rgb(31, 31, 31);
//     --bg2: rgb(40, 40, 40);
//     --bg3: rgb(58, 58, 58);
//     --text1: rgb(255, 255, 255);

//     --link1: rgb(189, 210, 255);
//     --link2: rgb(169, 196, 255);
//     --link3: rgb(129, 169, 255);

//     --highlight: rgb(255, 74, 74);
//     --shadow: 0 0 10px 5px rgba(0, 0, 0, 0);
//     --border: rgb(50, 50, 50);

//     color: var(--text1);
//     background-color: var(--bg1);
//   }
// }

/* /////////////////////////////////////////////////////////////////////////////
Reset
//////////////////////////////////////////////////////////////////////////////*/

* {
  font-family: "Aeonik", sans-serif;/* Menlo/Rubik */
}

*::selection {
  color: var(--highlight);
}

*:not(input):focus-visible {
  outline: solid 3px rgba(0, 0, 0, 0.2) !important;
  z-index: 100;
}

h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    clear: both;
  }
  
  ul {
    list-style: none;
  }
  
  blockquote {
    quotes: none;
  }
  blockquote::before,
  blockquote::after {
    content: none;
  }
  del {
    text-decoration: line-through;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  a img {
    border: none;
  }
  
  html {
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  a {
    font-style: none;
    color: var(--link1);
  }
  
  a:hover {
    color: var(--link2);
  }
  
  a:active {
    color: var(--link3);
  }
  
  *:focus {
    outline: none;
  }
  
  a:link,
  a:visited,
  a:hover,
  a:active {
    text-decoration: none;
  }
  
  textarea,
  input.text,
  input[type="text"],
  input[type="button"],
  input[type="submit"],
  .input-checkbox {
    -webkit-appearance: none;
    resize: none;
  }
  
  textarea:focus {
    outline: none !important;
  }
  
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  i {
    color: white;
  }

  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  font,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  figure,
  figcaption,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: transparent;
  }

:not(md) > div > {
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  font,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  figure,
  figcaption,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td {
    
  }
}

/* /////////////////////////////////////////////////////////////////////////////
Defaults
//////////////////////////////////////////////////////////////////////////////*/

/* /////////////////////////////////////////////////////////////////////////////
MOBILE
//////////////////////////////////////////////////////////////////////////////*/

/* /////////////////////////////////////////////////////////////////////////////
DESKTOP
//////////////////////////////////////////////////////////////////////////////*/

@media screen and (min-width: 768px) {
}
