.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  & > * {
    width: 100%;
    max-width: 800px;
  }
}

// .main {
//   display: flex;
//   flex-direction: column;
//   margin-bottom: 200px;
// }

// .meWrapper {
//   position: relative;
//   margin: 20px auto -40px 7vw;
//   width: 80vw;
//   max-width: 300px;
//   object-fit: contain;
//   border-radius: 10px;
//   overflow: hidden;
//   box-shadow: var(--shadow);
// }

// .me {
//   height: 100%;
//   width: 100%;
// }

// .crown {
//   position: absolute;
//   top: 15px;
//   left: 140px;
// }

// .meMap {
//   cursor: var(--crown2), pointer;
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   left: 0;
//   right: 0;
// }

// .hey {
//   font-family: "Nimbus Sans", sans-serif;
//   font-size: 3em;
//   font-weight: 400;
// }

// .intro {
//   z-index: 1;
//   margin: 0 7vw;
//   max-width: 500px;
// }

// .intro span {
//   font-style: italic;
// }

// .socialGroup {
//   margin-top: 15px;
//   gap: 15px;
//   display: flex;
// }

// .contact i {
//   margin: 20px 10px;
// }

// @media screen and (min-width: 768px) {
//   .main {
//     flex-direction: row;
//     margin: 0;
//   }

//   .meWrapper {
//     min-width: 370px;
//     width: 370px;
//     margin-right: 50px;
//   }

//   .intro {
//     margin: 0;
//     margin-right: auto;
//   }

//   .meMap {
//     height: 70px;
//     width: 70px;
//     top: 0;
//     left: 100px;
//   }

//   .social {
//     column-gap: 10px;
//   }
  
//   .socialGroup {
//     margin-top: 10px;
//     gap: 10px;
//     display: flex;
//   }
// }

// @media screen and (hover: hover) {
//   .me {
//     cursor: var(--crown1), pointer;
//   }
// }
