/* /////////////////////////////////////////////////////////////////////////////
MOBILE
//////////////////////////////////////////////////////////////////////////////*/
.main {
  display: flex;
  width: 100%;
}

.filter {
  width: 300px;
}

.content.grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.post {
  background-color: var(--bg0);
  height: 100px;
  box-shadow: 0 0 10px 5px var(--shadow);
  border-radius: 10px;
}

/* /////////////////////////////////////////////////////////////////////////////
DESKTOP
//////////////////////////////////////////////////////////////////////////////*/

@media screen and (min-width: 768px) {
}
