/* /////////////////////////////////////////////////////////////////////////////
MOBILE
//////////////////////////////////////////////////////////////////////////////*/
.main {
  display: flex;
  flex-direction: column;
  margin-bottom: 200px;
}

.me {
  margin: 20px auto -40px auto;
  width: 80vw;
  max-width: 370px;
  border-radius: 10px;
}

.hey {
  font-family: 'Nimbus Sans', serif;
  font-size: 100px;
  font-weight: 400;
}

.intro {
  margin-left: 7vw;
  max-width: 500px;
}

.intro span {
  font-style: italic;
}

.social {
  margin: 20px 0;
  display: flex;
}

.social > * {
  margin-right: 10px;
}

/* /////////////////////////////////////////////////////////////////////////////
DESKTOP
//////////////////////////////////////////////////////////////////////////////*/

@media screen and (min-width: 768px) {
  .main {
    flex-direction: row;
    margin: 0;
  }

  .me {
    margin-right: 50px;
  }

  .intro {
    margin: 0;
    margin-right: auto;
  }
}
