@use "src/styles/theme";

// .img {
//   object-fit: cover;
// }

.img {
  z-index: -1;
  object-fit: cover;
}

.tile {
  display: block;
  position: relative;
  height: 16em;

  background: #f8f8f8;
  &.imgLoaded {
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.2) 33%, rgba(0, 0, 0, 0.7));
    .desc {
      color: map-get(theme.$colors, "white");
    }
  }

  .desc {
    // to make link clickable because of absolute NextJS Image
    position: absolute;
    inset: 0;
    z-index: 1;

    color: map-get(theme.$colors, "black");
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 15px;

    h1 {
      margin-top: auto;
      font-size: 2rem;
    }
    .expandable {
      transition: all 500ms ease-out;
      max-height: 0;
      overflow: hidden;
    }
  }

  &:hover .desc .expandable {
    max-height: 1000px; // auto
  }
}

// .overlay {
//   transition: all 250ms ease-in-out;
//   position: absolute;

//   font-size: 20px;
//   inset: 0;
//   display: flex;
//   flex-direction: column;
//   align-items: stretch;
// }

// .overlay h1 {
//   div {
//     margin: auto 20px 10px 20px;

//     h1 {
      
//     }
//     p {

//     }
//   }
// }



@media screen and (max-width: 500px) { // MOBILE
  .tile {
    grid-column: 1 / -1 !important;
  }
}
