/* /////////////////////////////////////////////////////////////////////////////
MOBILE
//////////////////////////////////////////////////////////////////////////////*/
.main {
  max-height: 100vh;
}

.navbar {
  justify-content: flex-end;
  place-items: center;  
  display: flex;
  margin: 40px 30px;
  height: 50px;
}

.navbar li > * {
  cursor: pointer;
  transition: all 250ms ease-in-out;
  color: var(--text)
}

.navbar li:hover > * {
  opacity: 0.7;
}

.navbar li:active > * {
  opacity: 0.5;
}

.navbar li:not(:first-of-type) > * {
  padding: 10px;
  font-family: 'Nimbus Sans', sans-serif;
}

.icon {
  margin-right: auto;
}

.content {
  padding: 0 15px;
}

.hamBox {
  background-color: red;
  height: 50px;
  width: 50px;
}

.ham {
  width: 10px;
  height: 5px;
  background-color: var(--text1);
}

@keyframes centerHam {
  from {
    width: 25px;
  }
  to {
    width: 3px;
  }
}

/* /////////////////////////////////////////////////////////////////////////////
DESKTOP
//////////////////////////////////////////////////////////////////////////////*/

@media screen and (min-width: 768px) {
  .navbar {
    margin: 50px 70px;
  }

  .content {
    padding: 0 70px;
  }
}